<div class="content-wrapper">
	<div class="container-fluid">
		<div class="row text-center">
			<div class="col col-sm-12">
				<img src="img/logo.png" width="250em"><br>
				<h2>Movies APP</h2><hr>
			</div>
		</div>
		<div class="row text-center">
			<div class="card text-white bg-danger col col-sm-6" style="max-width: 18rem; margin: auto;">
				<a href="#!/peliculas" class="text-white">
					<img src="img/movies_icon.png" width="100em" />
					<p>Peliculas</p>
				</a>
			</div>
			<div class=" card text-white bg-info col col-sm-6" style="max-width: 18rem; margin: auto;">
				<a href="#!/series" class="text-white">
					<img src="img/series_icon.png" width="100em" />
					<p>Series</p>					
				</a>	
			</div>			
		</div>
		<!--<img data-ng-src="{{'data:' + contentType + ';base64,' + photo}}" style="max-height: 200px;" ng-if="photo"/>
		<div class="row text-center">
			<div class="col">
				<div id="webcam" ng-if="showweb">
					<webcam channel="camera.channel" on-streaming="camera.onSuccess()" on-error="camera.onError(err)" on-stream="camera.onStream(stream)"></webcam>
                    <button class="btn btn-default" type="button" ng-click="camera.makeSnapshot()">Capture</button>
                    <canvas ng-hide="true" id="snapshot" width="200" height="200"></canvas>
                </div>
							
			</div>
		</div>-->
	</div>
</div>