<div class="content-wrapper" ng-init="init()">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
      <a class="navbar-brand" href="#">Movies APP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#!/dashboard">Inicio</a>
          </li>        	
          <li class="nav-item active">
            <a class="nav-link" href="#!/peliculas">Peliculas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!/series">Series</a>
          </li>
        </ul>
      </div>
    </nav>
	<div class="container-fluid">
		<loading></loading>
		<div class="row text-center">
			<div class="card primary">
				<img ng-src="{{movie.covertImage}}" class="card-img-top" alt="{{movie.title}}" style="width: 10em;">
			    <div class="card-body">
			      <h5 class="card-title">{{movie.title}} ({{movie.year}})</h5>
			      <p class="card-text text-left"><b>Sinopsis: </b>{{movie.synopsis}}</p>
            <p class="card-text text-left"><b>Elenco: </b>{{movie.actors}} <br></p>
            <p class="card-text text-left"><b>Genero: </b><span ng-repeat="genero in movie.genres">{{genero}} | </p>
			      <a href="{{movie.trailer}}" target="_blank" class="btn btn-info">Ver Trailer</a>
            <a href="{{movie.content[0].link}}" class="btn btn-primary">Ver Pelicula</a>
			    </div>
			</div>
		</div>
		<div>&nbsp;</div>
	</div>
</div>
